@charset "utf-8";
body{height:100%;background:#f8f8f8;}
#wrap{position:relative;width:1728px;height:1080px;margin:0 auto;background:url(../images/welcome_bg.jpg) no-repeat 50% 50%;}


.area{position:absolute;z-index:1}
.area .box{position:relative;}
.area .click{position:absolute;z-index:2;opacity:0;transition:0.5s;}
.area .active .click{opacity:1;}

.pizza{top:100px;left:950px;}
.pizza .click{top:-38px;right:-44px;}

.omelet{top:433px;left:944px;}
.omelet .click{top:-60px;right:-14px;}

.phone{top:627px;left:18px;}
.phone .click{top:-61px;left:52px;}

.icecream{top:401px;left:1136px;}
.icecream .click{top:0;left:160px;}

.water{top:741px;left:850px;}
.water .click{top:-72px;left:-36px;}

.grape{top:470px;left:1341px;}
.grape .click{top:-38px;left:81px;}

.sewer{top:278px;left:1051px;}
.sewer .click{top:-44px;left:12px;}

.modal-wrap{position:absolute;border-radius:10px;opacity:0;visibility:hidden;z-index:1000;}
.modal-wrap .modal-content{position:relative;padding:133px 31px 40px;}
.modal-wrap .modal-close{position:absolute;top:34px;right:34px;}

.show-modal{opacity:1;visibility:visible;}

.modal-video{overflow:hidden;position:relative;width:100%;height:0;padding-bottom:56.25%;}
.modal-video:after{display:block;clear:both;content:'';}
.modal-video embed,.modal-video iframe,.modal-video object,.modal-video video,.modal-video > img {position:absolute;top:0;left:0;width:100%;height:100%;*height:auto;*min-height:100%;}

#pizza-modal{top:324px;left:536px;width:1024px;background:#f4d2d2}
#omelet-modal{top:67px;left:18px;width:920px;background:#f7f0c1}
#phone-modal{top:78px;left:226px;width:920px;background:#d3e6b2}
#icecream-modal{top:393px;left:117px;width:920px;background:#fde4ff}
#water-modal{top:44px;left:29px;width:920px;background:#b2eaff}
#grape-modal{top:280px;left:194px;width:920px;background:#cebffe}
#sewer-modal{top:322px;left:121px;width:920px;background:#c5cde4}

/* .close{width:48px;height:48px;border-radius:24px;background:#ffcf4a} */